ul {
   list-style-type: none;
}
/* Month styles */
.month {
   padding: 70px 25px;
   width: 100%;
   // background: #1abc9c;
   text-align: center;

   ul {
      margin: 0;
      padding: 0;
   }

   ul li {
      color: #ffffff;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
   }

   .prev {
      float: left;
      padding-top: 10px;
   }

   .next {
      float: right;
      padding-top: 10px;
   }
}
/* Weekdays (Mon-Sun) */
// .cal-flex{
//    display: flex;
//    align-items: center;
// }
$calendar-radius: 10px;
.days,
.weekdays {
   margin: 0 auto;
   width: 90%;
   border-radius: $calendar-radius !important;
   background-color: rgba(220, 220, 220, 0.4);
}
// .cal-next{
//    display:flex;
//    flex-direction:center;
// }
.weekdays {
   padding: 10px 0;
   background-color: rgba(220, 220, 220, 0.4);

   li {
      display: inline-block;
      width: 13.6%;
      color: #666;
      text-align: center;
   }
}

.days {
   padding: 10px 0;
   background-color: rgba(220, 220, 220, 0.4);
   //transition: height 0.9s ease;

   li {
      opacity: 1;
      list-style-type: none;
      display: inline-block;
      margin: 0 auto;
      width: 13.6%;
      text-align: center;
      margin-bottom: 10px;
      font-size: 12px;
      color: #777;
      padding-top: 20px;
   }
   .date:hover {
      padding: 10px;
      width: 10%;
      background: #1abc9c;
      color: white !important;
      border-radius: 6px;
   }

   .highlight {
      padding: 10px;
      width: 10%;
      background: #1d8eeb;
      color: white !important;
      border-radius: 6px;
   }
   .wrong:hover {
      padding: 10px;
      width: 10%;
      background: #ff3c00;
      color: white !important;
      border-radius: 6px;
   }
}
a {
   color: inherit;
   /* text-decoration: inherit; */
}
body {
   //bluey colors
   // background-image: linear-gradient(to left, #e0c3fc 0%, #8ec5fc 100%);
   // background-color: #8ec5fc;

   //gery colors
   //  background-color: grey;
   // background-image: linear-gradient(to right, #f5f7fa 0%, #c3cfe2 100%);

   //pinky gradients
   // background-image: linear-gradient(to right, #f093fb 0%, #f5576c 100%);
   background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ff609c 100%);
   //background-image: url("https://i.thatcopy.pw/cat-webp/bvqlvmL.webp");

   margin: 0;
   box-sizing: border-box;
}
.month-nav {
   position: fixed;


   //padding:0
}
// .prev .next {
//   // padding: 0;
// }
.next{
   margin-right:40px;
}
// .next {
//margin-right: 50px;
// }
#monthName {
   //display: block !impo;
   display: inline !important;
   margin-left:40px;

   text-align: center !important;
}
*{
   // cursor:ne-resize
}

.lerp-2 {
   transition: background-color 0.2s ease, border-color 0.2s ease;
}
.lerp-4 {
   transition: background-color 0.4s ease, border-color 0.4s ease;
}
.lerp-6 {
   transition: background-color 0.6s ease, border-color 0.6s ease;
}
.lerp-8 {
   transition: background-color 0.8s ease, border-color 0.8s ease;
}
.lerp-10 {
   transition: background-color 1s ease, border-color 1s ease;
}
