
.bg-primary {
  --bg-h: 219deg;
  --bg-s: 100%;
  --bg-l: 50%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-secondary {
  --bg-h: 217deg;
  --bg-s: 5%;
  --bg-l: 48%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-black {
  --bg-h: 0deg;
  --bg-s: 0%;
  --bg-l: 0%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-white {
  --bg-h: 0deg;
  --bg-s: 0%;
  --bg-l: 100%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-grey {
  --bg-h: 0deg;
  --bg-s: 0%;
  --bg-l: 50%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-red {
  --bg-h: 3deg;
  --bg-s: 100%;
  --bg-l: 61%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-orange {
  --bg-h: 28deg;
  --bg-s: 100%;
  --bg-l: 55%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-yellow {
  --bg-h: 52deg;
  --bg-s: 100%;
  --bg-l: 50%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-lime {
  --bg-h: 146deg;
  --bg-s: 100%;
  --bg-l: 50%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-green {
  --bg-h: 127deg;
  --bg-s: 63%;
  --bg-l: 49%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-olive {
  --bg-h: 153deg;
  --bg-s: 43%;
  --bg-l: 42%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-teal {
  --bg-h: 180deg;
  --bg-s: 100%;
  --bg-l: 32%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-aqua {
  --bg-h: 197deg;
  --bg-s: 100%;
  --bg-l: 75%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-blue {
  --bg-h: 208deg;
  --bg-s: 100%;
  --bg-l: 43%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-navy {
  --bg-h: 210deg;
  --bg-s: 100%;
  --bg-l: 12%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-indigo {
  --bg-h: 263deg;
  --bg-s: 90%;
  --bg-l: 51%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-maroon {
  --bg-h: 331deg;
  --bg-s: 74%;
  --bg-l: 30%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-purple {
  --bg-h: 292deg;
  --bg-s: 88%;
  --bg-l: 42%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-magenta {
  --bg-h: 314deg;
  --bg-s: 88%;
  --bg-l: 51%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-brown {
  --bg-h: 28deg;
  --bg-s: 28%;
  --bg-l: 39%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-success {
  --bg-h: 139deg;
  --bg-s: 70%;
  --bg-l: 43%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-info {
  --bg-h: 192deg;
  --bg-s: 55%;
  --bg-l: 53%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-warning {
  --bg-h: 36deg;
  --bg-s: 100%;
  --bg-l: 61%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-danger {
  --bg-h: 353deg;
  --bg-s: 75%;
  --bg-l: 57%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-light {
  --bg-h: 0deg;
  --bg-s: 0%;
  --bg-l: 98%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-dark {
  --bg-h: 0deg;
  --bg-s: 0%;
  --bg-l: 13%;
  --bg-a: 1;
  background-color: hsla(var(--bg-h), var(--bg-s), calc(var(--bg-l) + var(--bg-lightness, 0%)), var(--bg-a, 1)) !important;
}

.bg-darken-1 {
  --bg-lightness: -5% !important;
}

.bg-darken-2 {
  --bg-lightness: -10% !important;
}

.bg-darken-3 {
  --bg-lightness: -15% !important;
}

.bg-darken-4 {
  --bg-lightness: -20% !important;
}

.bg-darken-5 {
  --bg-lightness: -25% !important;
}

.bg-lighten-1 {
  --bg-lightness: 5% !important;
}

.bg-lighten-2 {
  --bg-lightness: 10% !important;
}

.bg-lighten-3 {
  --bg-lightness: 15% !important;
}

.bg-lighten-4 {
  --bg-lightness: 20% !important;
}

.bg-lighten-5 {
  --bg-lightness: 25% !important;
}

[class*="bg-h-"] {
  background-color: hsla(var(--bg-h), var(--bg-s, 100%), var(--bg-l, 50%), var(--bg-a, 1)) !important;
}

.bg-h-0 {
  --bg-h: 0deg;
}

.bg-h-15 {
  --bg-h: 15deg;
}

.bg-h-30 {
  --bg-h: 30deg;
}

.bg-h-45 {
  --bg-h: 45deg;
}

.bg-h-60 {
  --bg-h: 60deg;
}

.bg-h-75 {
  --bg-h: 75deg;
}

.bg-h-90 {
  --bg-h: 90deg;
}

.bg-h-105 {
  --bg-h: 105deg;
}

.bg-h-120 {
  --bg-h: 120deg;
}

.bg-h-135 {
  --bg-h: 135deg;
}

.bg-h-150 {
  --bg-h: 150deg;
}

.bg-h-165 {
  --bg-h: 165deg;
}

.bg-h-180 {
  --bg-h: 180deg;
}

.bg-h-195 {
  --bg-h: 195deg;
}

.bg-h-210 {
  --bg-h: 210deg;
}

.bg-h-225 {
  --bg-h: 225deg;
}

.bg-h-240 {
  --bg-h: 240deg;
}

.bg-h-255 {
  --bg-h: 255deg;
}

.bg-h-270 {
  --bg-h: 270deg;
}

.bg-h-285 {
  --bg-h: 285deg;
}

.bg-h-300 {
  --bg-h: 300deg;
}

.bg-h-315 {
  --bg-h: 315deg;
}

.bg-h-330 {
  --bg-h: 330deg;
}

.bg-h-345 {
  --bg-h: 345deg;
}

.bg-s-0 {
  --bg-s: 0%;
}

.bg-l-0 {
  --bg-l: 0%;
}

.bg-s-5 {
  --bg-s: 5%;
}

.bg-l-5 {
  --bg-l: 5%;
}

.bg-s-10 {
  --bg-s: 10%;
}

.bg-l-10 {
  --bg-l: 10%;
}

.bg-s-15 {
  --bg-s: 15%;
}

.bg-l-15 {
  --bg-l: 15%;
}

.bg-s-20 {
  --bg-s: 20%;
}

.bg-l-20 {
  --bg-l: 20%;
}

.bg-s-25 {
  --bg-s: 25%;
}

.bg-l-25 {
  --bg-l: 25%;
}

.bg-s-30 {
  --bg-s: 30%;
}

.bg-l-30 {
  --bg-l: 30%;
}

.bg-s-35 {
  --bg-s: 35%;
}

.bg-l-35 {
  --bg-l: 35%;
}

.bg-s-40 {
  --bg-s: 40%;
}

.bg-l-40 {
  --bg-l: 40%;
}

.bg-s-45 {
  --bg-s: 45%;
}

.bg-l-45 {
  --bg-l: 45%;
}

.bg-s-50 {
  --bg-s: 50%;
}

.bg-l-50 {
  --bg-l: 50%;
}

.bg-s-55 {
  --bg-s: 55%;
}

.bg-l-55 {
  --bg-l: 55%;
}

.bg-s-60 {
  --bg-s: 60%;
}

.bg-l-60 {
  --bg-l: 60%;
}

.bg-s-65 {
  --bg-s: 65%;
}

.bg-l-65 {
  --bg-l: 65%;
}

.bg-s-70 {
  --bg-s: 70%;
}

.bg-l-70 {
  --bg-l: 70%;
}

.bg-s-75 {
  --bg-s: 75%;
}

.bg-l-75 {
  --bg-l: 75%;
}

.bg-s-80 {
  --bg-s: 80%;
}

.bg-l-80 {
  --bg-l: 80%;
}

.bg-s-85 {
  --bg-s: 85%;
}

.bg-l-85 {
  --bg-l: 85%;
}

.bg-s-90 {
  --bg-s: 90%;
}

.bg-l-90 {
  --bg-l: 90%;
}

.bg-s-95 {
  --bg-s: 95%;
}

.bg-l-95 {
  --bg-l: 95%;
}

.bg-s-100 {
  --bg-s: 100%;
}

.bg-l-100 {
  --bg-l: 100%;
}

.bg-a-0 {
  --bg-a: 0;
}

.bg-a-5 {
  --bg-a: 0.05;
}

.bg-a-10 {
  --bg-a: 0.1;
}

.bg-a-20 {
  --bg-a: 0.2;
}

.bg-a-30 {
  --bg-a: 0.3;
}

.bg-a-40 {
  --bg-a: 0.4;
}

.bg-a-50 {
  --bg-a: 0.5;
}

.bg-a-60 {
  --bg-a: 0.6;
}

.bg-a-70 {
  --bg-a: 0.7;
}

.bg-a-80 {
  --bg-a: 0.8;
}

.bg-a-90 {
  --bg-a: 0.9;
}

.bg-a-100 {
  --bg-a: 1;
}