$input-radius:13px;
$select-radius:10px;
$input-width:60%;
$smaller-site:1510px;
//UPDATE 
// CREATE A BUTTONS.SCSS AND AN INPUTS.SCSS AND A MISC.SCSS AND MORE AND ADD TAG SPECIFIC STYLES ORGANIZED BY CLASS!!!!!!!
// ALSO STANDARDIZE FRAMER PARAMS STUFF PER BUTTON SIZE
//also check name, yocal doesnt look to good on the navbar