@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
	font-family: /*BlinkMacSystemFont,*/'Montserrat', sans-serif;
}

.progress {
    border:border-box;
	position: relative;
	background-color: hsla(0,0,0,0);
	margin: none;
	height: 5px;
	width: 68vw;
	margin-left:1vw;
	transition: width ease-in-out 0.5s;
	border-radius: 500px;
	left:-1%
}

.progress-done {
	background: linear-gradient(to left, #4671e7, #4a7ef6);
	//box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	//color: #fff;
	display: flex;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: width  ease 0.3s ;
	border-radius: 500px;
}