@import "./variables.scss";
  *::selection {
  background: rgba(139,0,255,0.2);
}
.card {
  width: 46vw;
  margin:0 30px;
  margin-bottom: 0, 2vw;
  
  border: none;
  border-radius: 10px;
 @media only screen and (max-width: $smaller-site) {
    width: 90vw;
    margin: 0 5vw
  } 
}
 ::-webkit-scrollbar {
    display: none;
 }

.float > span:nth-child(odd)   {
  //background-color: blue;
  margin-right: auto/2;
}
.float > span:nth-child(even)   {
  //background-color: red;
  margin-left: auto/2;
}
.float {
 
  margin-left: 0.3vw;
  //overflow: hidden;
  display: flex;
  flex-grow:1;
  //justify-content: left;
  flex-wrap: wrap;
  overflow: auto;
}
.float .event {
  flex: 0 1 50%;
}
.event {
  flex: 0 0 100vw;
  //flex-grow: 1;
}
.xxs {
  font-size: 10px;
  margin-left: 8px;
  margin-bottom: 5px;
  margin-top: 6px;
  border-radius: 5px;
}
.error {
  color: red;
}
.error:hover {
  color: red;
}
.create-event {
  width: 60%;
}
.add-friends {
  margin-right: 200px;
}
.freinds1 {
  border-radius: 5px;
}
#curdate {
  width: 50%;
}
.add {
  width: 120%;
}
.friend{
  width: 40vw;
}
.event-friend{
max-width:30%
}


.card-expanded{
  width: 94vw;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 2%;
  border: none;
  border-radius: 10px;
}
