.center-both {
  align-items: center;
  display: flex;
  justify-content: center;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  align-items: center;
  display: flex;
}