.z-index-n2 {
  z-index: -2;
}

.z-index-n1 {
  z-index: -1;
}

.z-index-0 {
  z-index: 0;
}

.h\:z-index-1:hover,
.z-index-1 {
  z-index: 1;
}

.h\:z-index-2:hover,
.z-index-2 {
  z-index: 2;
}

.z-index-master {
  z-index: $z-index-master;
}